body,
html { 
  width: 100% ;  height: 100%;
	
  background: url(https://cdn.thenewstack.io/media/2019/08/95f9201a-nature-3048299_1920-1024x678.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


